.btn-group {
  .btn-primary {
    border-color: #8484a4;
  }

  .btn-success {
    border-color: #4d9a4d;
  }

  .btn-info {
    border-color: #8484a4;
  }

  .btn-warning {
    border-color: #ce9648;
  }

  .btn-danger {
    border-color: #af4744;
  }
}
