---
title: Sermon Videos
layout: default
permalink: video
description: Sermon Videos from First Baptist Church
---

<div class="services-grid-section">
  <div class="container">
    <div class="header">
      <h3>Watch Sermons Online</h3>
    </div>
    <div class="services">
      <div class="row">
       {% for post in site.categories.video limit:9  %}
        <div class="col-md-4">
          <div class="service">
            <div class="pic">
          {% if post.vimeo %}
                {% capture picture-file %}images/vimeo/{{ sunday.date | date: "%Y-%m-%d" }}.jpg{% endcapture %}
          {% else %}
                {% capture picture-file %}images/sermon/{{ sunday.date | date: "%Y-%m-%d" }}.jpg{% endcapture %}
          {% endif %}
           <a href="{{ post.url }}"><img src="{{ picture-file }}" class="img-fluid" alt="{{ post.title }}" /></a>
            </div>
        <div class="info">
          {% if post.vimeo %}{{post.vimeo}}{{% endif%}}
          <a href="{{ post.url }}"><strong>{{ post.title }}</strong></a>
          <p>
            {% assign author = site.people | where: 'name', post.author | first %}
            <a href="/{{ author.name | slugify }}">{{ post.author }}</a> on {{ post.date | date: "%B %d" }}
          </p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
</div>
</div>

