---
title: Worship
permalink: worship
layout: default
description: Coming Up in Worship at First Baptist Church Muncie
---

  <div class="services-grid-section">
    <div class="container">
      <div class="header">
        <h3>Coming Up in Worship at First Baptist Church Muncie</h3>
        <p>
          {{ site.worship-times }}
        </p>
      </div>
      <div class="services">
        {% for sunday in site.worship %}
        {% assign author = site.people | where: 'name', sunday.author | first %}

        {% capture modulo %}{{ forloop.index | modulo: 3 }}{% endcapture %}

        {% if modulo == '1' %}
            <div class="row">
        {% endif %}
          <div class="col-md-4">
            <div class="service">
              <div class="pic">
                {% capture picture-file %}images/sermon/{{ sunday.date | date: "%Y-%m-%d" }}.jpg{% endcapture %}
                <img src="{{ picture-file }}" class="img-fluid" alt="{{ sunday.title }}" />
              </div>
              <div class="info">
                <strong>{{ sunday.title }}</strong>
                <p>
                  {{ sunday.date | date: "%B %d" }}
                </p>
              </div>
            </div>
          </div>
          {% if modulo == '0' or forloop.last %}
        </div>
        {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>





<!--   <div class="blog-cols-header">
    <div class="container">
      <h1>
        Coming Up in Worship at First Baptist Church Muncie
      </h1>
      <p>{{ site.worship-times }}</p>
    </div>
  </div>

    <div class="blog-cols-wrapper">
    <div class="container">
    	{% for sunday in site.worship %}
    	{% assign author = site.people | where: 'name', sunday.author | first %}
      <div class="post">
        <div class="post-wrapper">
          {% capture picture-file %}images/sermon/{{ sunday.date | date: "%Y-%m-%d" }}.jpg{% endcapture %}
          <div class="post-bg" style="background-image: url('{{ picture-file }}');">
          </div>
          <div class="post-intro">
            <div class="post-title">
              {{ sunday.title }}
            </div>
            <div class="post-min-read">
              {{ sunday.date | date: "%B %d" }}
            </div>
            <p class="post-description">
              {{ sunday.scripture }}</br>{% if author.name %}<a href="/{{ author.name | slugify }}">{{ author.name }}</a>{% else %}{{ sunday.author }}{% endif %}
            </p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div> -->

