---
title: Youth Ministry
layout: default
permalink: youth
---

<div class="features-section">
	<div class="container">
		<div class="header text-center">
			<h2>{{ page.title }}</h2>
			<p class="mt-3">The youth ministry at First Baptist takes a family based approach. The youth ministry is committed to the reality that young people are an integral part of our church community.</p>
			{% for week in site.data.youth %}
			<p class="mt-3">{{ week.date }} - {% if week.fellowship_fifth == "yes" %} Fifth Sunday fellowship. {{ week.fifth_description }} {% endif%} {% if week.sunday_school == "yes" %} Sunday School at 9:15. {{ week.teacher }} will be teaching. {% endif %} {% if week.home == "yes" %} We will be meeting at the home of {{ week.location }} at {{ week.home_time }} for a light dinner, games and speaker. </p>
			{% endfor %}
		</div>

		<div class="feature">
			<div class="row">
				<div class="col-md-6">
					<div class="info">
						<h4 class="mt-lg-5">Youth Ministry Mission Statement</h4>
						<p>
							In partnership with families, the youth ministry of FBC exists to engage 100% of the students under its care, to train them to live independently in Christ, and to send them out as exceptional, godly men and women of integrity who will transform their homes, their schools, their churches, their workplaces, and their worlds for Christ.
						</p>
					</div>
				</div>
				<div class="col-md-6 text-center">
					<img src="/images/ministry/camp-b1.jpg" class="img-fluid" alt="youth" />
				</div>
			</div>
		</div>
	</div>
</div>


<div class="features-tabs-section" style="margin-top: 100px;">
	<div class="container">
		<div class="tabs-wrapper">
			<ul class="nav nav-tabs justify-content-center" id="feature-tabs">
				<li>
					<a href="#campb" class="active" data-toggle="tab">Camp Barnabas</a>
				</li>
				<li>
					<a href="#ski" data-toggle="tab">Ski Trip to Green Lake</a>
				</li>
				<li>
					<a href="#camptippy" data-toggle="tab">Camp Tippy</a>
				</li>
			</ul>

			<div class="tab-content">
				<div class="tab-pane fade show active" id="campb">
					<div class="row">
						<div class="col-lg-6 order-lg-2 image">
							<img src="images/ministry/camp-b2.jpg" class="img-fluid" alt="Camp Barnabas" />
						</div>
						<div class="col-lg-6 order-lg-1 info">
							<h4>Camp Barnabas</h4>
							<p>
								Youth travel each summer to a place called Camp Barnabas. This is a mission trip for the youth. Camp Barnabas offers life-changing opportunities to people with special needs and chronic diseases. Our teens work hard to make the camp experience for people with special needs possible. 
							</p>
						</div>
					</div>
				</div>
				<div class="tab-pane fade" id="ski">
					<div class="row">
						<div class="col-lg-6 image">
							<img src="/images/ministry/ski.jpg" class="img-fluid" alt="Ski Trip" />
						</div>
						<div class="col-lg-6 info">
							<h4>Ski Trip</h4>
							<p>
								The youth attend a ski trip called Skwim in Green Lake, Wisconsin in January. <a href="https://fbcmuncie.churchcenter.com/registrations/events/174237" target="_blank">Register now for the 2019 ski trip</a>
							</p>
						</div>
					</div>        
				</div>
				<div class="tab-pane fade" id="camptippy">
					<div class="row">
						<div class="col-lg-6 order-lg-2 image">
							<img src="/images/ministry/camptippy.jpg" class="img-fluid" alt="Camp Tippy" />
						</div>
						<div class="col-lg-6 order-lg-1 info">
							<h4>Camp Tippy</h4>
							<p>
								Each summer, children and teens from First Baptist attend Camp Tippy.
							</p>
							<p>
								you can read more about Camp Tippy <a href="https://sites.google.com/site/camptippecanoe/home">here</a>.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="features-section">
	<div class="container">
		<div class="divider"></div>
	</div>
</div>
