  <div class="features-section">
    <div class="container">
      <div class="header text-center">
        <h2>Our Building</h2>
        <p class="mt-3">We have a special building at First Baptist Church.</p>
      </div>
      <div class="feature">
        <div class="row">
          <div class="col-md-6">
            <div class="info">
              <h4 class="mt-lg-5">Architecture</h4>
              <p>
If you have never visited First Baptist Muncie, you should stop by and see the magnificent building. For students and lovers of architecture, it is striking work.</p>
<p>
The Late Gothic Revival building was designed by Samuel Hannaford and Sons and constructed in 1928–1929 by Morrow and Morrow. It is constructed of Indiana limestone and has a cruciform plan. It features and engaged five-story tower.
              </p>
            </div>
          </div>
          <div class="col-md-6 text-center">
            <img src="images/feature4.png" class="img-fluid" alt="feature1" />
          </div>
        </div>
      </div>
      <div class="divider"></div>
      <div class="feature">
        <div class="row">
          <div class="col-md-6 order-md-2">
            <div class="info">
              <h4 class="mt-lg-4">Weddings</h4>
              <p>
                You have complete control over the look & feel of your website, we offer the best quality so you
                take your site up and running in no time.
              </p>
              <p>
                Write some text here to explain the features of your site or application, it
                has lots of uses.
              </p>
            </div>
          </div>
          <div class="col-md-6 order-md-1 text-center">
            <img src="images/feature2.png" class="img-fluid" alt="feature2" />
          </div>
        </div>
      </div>
      <div class="divider"></div>
      <div class="feature">
        <div class="row">
          <div class="col-md-6">
            <div class="info">
              <h4 class="mt-lg-5">Reserving the Building</h4>
              <p>
                Whether you want to fill this paragraph with some text like I'm doing right now, this place
                is perfect to describe some features or anything you want - React has a complete solution for you.
              </p>
            </div>
          </div>
          <div class="col-md-6 text-center">
            <img src="images/feature3.png" class="img-fluid" alt="feature1" />
          </div>
        </div>
      </div>
    </div>
  </div>