<div class="cta-button my-4 py-4">
  <div class="container">
    <div class="cta my-4 py-4">
      <h3>
        Join us for our Worship Gatherings
      </h3>
      <p>
        9:15 AM (Traditional), 10:45 AM (Contemporary)
      </p>
      {% for sunday in site.worship limit:1 %}
      <p>{{ sunday.author }} will be preaching this week ({{ sunday.date | date: "%B %d" }}) {% if sunday.scripture != "No Scripture Chosen Yet" %} from {{ sunday.scripture }}{% endif %}</p>
      {% endfor %}
      <a href="/worship">Worship Schedule</a>
    </div>
  </div>
</div>


  <div class="footer footer--dark">
    <div class="container">
      <div class="row">
        <div class="col-md-3 menu">
          <h3>Links</h3>
          <ul>
            <li>
              <a href="/weddings">Weddings</a>
            </li>
            <li>
              <a href="/reserve">Building Usage</a>
            </li>
            <li>
              <a href="/worship">Worship Gatherings</a>
            </li>
            <li>
              <a href="/youth">Youth</a>
            </li>
            <li>
              <a href="/children">Children</a>
            </li>
          </ul>
        </div>
        <div class="col-md-3 menu">
          <h3>About</h3>
          <ul>
            <li>
              <a href="/about">About</a>
            </li>
            <li>
              <a href="/pastors">Pastors</a>
            </li>
            <li>
              <a href="/history">History</a>
            </li>
            <li>
              <a href="/forms/FBC_Constitution_Bylaws.pdf">Church Constitution and Bylaws</a>
            </li>
          </ul>
        </div>
        <div class="col-md-2 menu">
          <h3>Media</h3>
          <ul>
            <li>
              <a href="/video">Sermon Videos</a>
            </li>
            <li>
              <a href="/blog">Blog</a>
            </li>
            <li>
              <a href="/podcast/fbcmuncie.xml">Podcast</a>
            </li>
            <li>
              <a href="/visitor">Newsletter</a>
            </li>
          </ul>
        </div>
        <div class="col-md-2 menu">
          <h3>Social</h3>
          <ul>
            <li>
              <a href="https://www.youtube.com/user/fbcmunciesermons"><i class="fa fa-youtube fa-fw"></i>Youtube</a>
            </li>
            <li>
              <a href="https://www.facebook.com/firstbaptistmuncie"><i class="fa fa-facebook fa-fw"></i>Facebook</a>
            </li>
            <li>
              <a href="https://twitter.com/fbcmuncie"><i class="fa fa-twitter fa-fw"></i>Twitter</a>
            </li>
             <li>
              <a href="https://www.flickr.com/photos/fbcmuncie"><i class="fa fa-camera fa-fw"></i>Photos</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="credits">
        <p>Copyright © 2018. {{ site.title }}</p>
      </div>
    </div>
  </div>

  </body>
</html>
