  <div class="footer footer--dark">
    <div class="container">
      <div class="row">
        <div class="col-md-3 menu">
          <h3>Overview</h3>
          <ul>
            <li>
              <a href="features.html">Features</a>
            </li>
            <li>
              <a href="services.html">Services</a>
            </li>
            <li>
              <a href="pricing.html">Pricing</a>
            </li>
            <li>
              <a href="support.html">Support</a>
            </li>
            <li>
              <a href="blog.html">Blog</a>
            </li>
            <li>
              <a href="blog.html">Coming soon</a>
            </li>
          </ul>
        </div>
        <div class="col-md-3 menu">
          <h3>Menu</h3>
          <ul>
            <li>
              <a href="features.html">About us</a>
            </li>
            <li>
              <a href="services.html">Contact us</a>
            </li>
            <li>
              <a href="aboutus.html">Jobs</a>
              <a href="aboutus.html" class="hiring">
                We're hiring!
              </a>
            </li>
            <li>
              <a href="support.html">Portfolio</a>
            </li>
            <li>
              <a href="blog.html">Status</a>
            </li>
          </ul>
        </div>
        <div class="col-md-2 menu">
          <h3>Social</h3>
          <ul>
            <li>
              <a href="features.html"><i class="fa fa-youtube fa-fw"></i>Youtube</a>
            </li>
            <li>
              <a href="services.html"><i class="fa fa-facebook fa-fw"></i>Facebook</a>
            </li>
            <li>
              <a href="pricing.html"><i class="fa fa-twitter fa-fw"></i>Twitter</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="credits">
        <p>Copyright © 2018. First Baptist Church Muncie</p>
      </div>
    </div>
  </div>

  </body>
</html>