<div class="navbar navbar-dark navbar-expand-lg" role="banner">
    <div class="container no-override">
      <a class="navbar-brand" href="/index.html">
        <img src="/images/logos/logo-dark.png" class="img-fluid" />
      FIRST BAPTIST <span>MUNCIE</span>
      </a>

      <button class="navbar-toggler" data-toggle="collapse" data-target="#navbar-collapse">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-end" id="navbar-collapse">
        <ul class="navbar-nav">

          <li class="nav-item">
            <a href="/" class="nav-link">Home</a>
          </li>

          <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
              Who We Are
              <i class="ion-chevron-down"></i>
            </a>
            <div class="dropdown-menu">
             <a class="dropdown-item" href="/about">About Us</a>
             <a class="dropdown-item" href="/pastors">Pastors</a>
             <a class="dropdown-item" href="/history">History</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
              Why We Exist
              <i class="ion-chevron-down"></i>
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="gather.html">To Gather</a>
              <a class="dropdown-item" href="gather.html">To Equip</a>
              <a class="dropdown-item" href="gather.html">To Be God's Presence</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
              Media
              <i class="ion-chevron-down"></i>
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="/video">Sermon Videos</a>
              <a class="dropdown-item" href="gather.html">Blog</a>
              <a class="dropdown-item" href="/podcast/fbcmuncie.xml">Podcast</a>
              <a class="dropdown-item" href="/visitor">Newsletter</a>
            </div>
          </li>
          <li class="nav-item">
            <a href="contact" class="nav-link nav-link--rounded">Contact Us</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
