---
layout: default
---

<div class="blog-posts">
  <div class="container">
    <div class="row">
      <div class="col-lg-9">

       <div class="post">
        <div class="title">
          <a href="blogpost.html">{{ page.title }}</a>
        </div>
        {% assign author = site.people | where: 'name', page.author | first %}
        <div class="author">
          <img src="/images/people/{{ author.name | slugify }}.jpg" class="avatar" alt="author" />
          <a href="/{{ author.name | slugify }}">{{ page.author }}</a>, {{ page.date | date: "%B %d, %Y" }}
        </div>
        <div class="intro">{{ content }}</div>
      </div>
    </div>

    <div class="col-lg-3 sidebar">
      {% include podcast.html %}
      {% include recent-sermons.html %}
    </div>
  </div>
</div>