---
layout: default
---

<div class="blog-post-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-10 post">

       <div class="post">
        <div class="title">{{ page.title }}</div>
        {% assign author = site.people | where: 'name', page.author | first %}
        <div class="author">
          <!-- <img src="/images/people/{{ author.name | slugify }}.jpg" class="avatar" alt="author" /> -->
          <a href="/{{ author.name | slugify }}">{{ page.author }}</a>, {{ page.date | date: "%B %d, %Y" }}
        </div>
        <div class="content">{{ content }}</div>
      </div>
    </div>

  </div>
</div>