---
layout: default
---

<div class="features-tabs-section" style="margin-top: 100px;">
	<div class="container">
		<div class="header">
			<h3>{{ page.prefix }} {{ page.name }}</h3>
			<p>{{ page.position }}</p>
		</div>

		<div class="tabs-wrapper">
			<div class="tab-content">
				<div class="tab-pane fade show active" id="home">
					<div class="row">
						<div class="col-lg-6 order-lg-2 image">
							<img src="/images/people/{{ page.name | slugify }}.jpg" class="img-fluid" alt="{{ page.name }}" onError="this.onerror=null;this.src='/images/people/blank.jpg';">
						</div>
						<div class="col-lg-6 order-lg-1 info">

							{{ content }}

							{% if page.facebook %}
							<a href="https://www.facebook.com/{{ page.facebook }}"><i class="fa fa-facebook fa-2x"></i></a>
							{% endif %}
							{% if page.twitter %}
							<a href="https://twitter.com/{{ page.twitter }}"><i class="fa fa-twitter fa-2x"></i></a>
							{% endif %}
							{% if page.linkedin %}
							<a href="https://www.linkedin.com/in/{{ page.linkedin }}"><i class="fa fa-linkedin fa-2x" ></i></a>
							{% endif %}

							{% assign page-author = page.name %}
							{% assign worship-schedule = (site.worship | where: "author" , page-author ) %}
							{% if worship-schedule == empty %}
							<p>{{ page.name }} is not scheduled to preach at First Baptist Church at this time.</p>
							{% endif %}
							{% for sunday in worship-schedule limit: 1 %}
							<p>{{ page.name }} will preach next on </br>{{ sunday.date | date: "%A, %B %-d" }} ({{ sunday.title }}, {{ sunday.scripture }}).</p>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="services-grid-section services-grid-section--border">
	<div class="container">
		<div class="header">
			<h3>Other Sermons by {{ page.name }}</h3>
		</div>
		<div class="services">
			<div class="row">
				{% assign author-links = (site.posts | where: "author" , page-author | where: "layout", "sermon" ) %}
				{% if author-links == empty %}
				<p>There are no posts for {{ page.name }}</p>
				{% endif %}
				{% for post in author-links limit: 3 %}
				<div class="col-md-4">
					<div class="service">
						<div class="pic">
							<a href="{{post.url}}"><img src="https://img.youtube.com/vi/{{ post.video_url }}/mqdefault.jpg" class="img-fluid" alt="services1" /></a>
						</div>
						<div class="info">
							<a href="{{post.url}}"><strong>{{ post.title }}</strong></a>
							<p>
								{{ post.date | date: "%B %d, %Y" }}
							</p>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
