---
layout: default
---


<div class="blog-posts">
  <div class="container">
    <div class="row">
      <div class="col-lg-9">

       <div class="post">
        <div class="video">
          <div class="iframe-wrapper">
            <iframe width="620" height="350" src="http://www.youtube.com/embed/{{page.video_url}}?showinfo=1" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
        <div class="title">
          <a href="blogpost.html">{{ page.title }}</a>
        </div>
        {% assign author = site.people | where: 'name', page.author | first %}
        <div class="author">
          <img src="images/testimonials/testimonial2.jpg" class="avatar" alt="author" />
          <a href="/{{ author.name | slugify }}">{{ page.author }}</a>, {{ page.date | date: "%B %d, %Y" }}
        </div>
        <div class="intro">{{ content }}</div>
      </div>
    </div>

    <div class="col-lg-3 sidebar">
      <div class="updates">
        <strong>
          Podcast
          <i class="fa fa-podcast"></i>
        </strong>
        <p>
          Stay up to date on the sermons at First Baptist by subscribing to the <a href="/podcast">podcast</a>.
        </p>
      </div>
      <div class="best-hits">
        <strong>Most Recent Sermons:</strong>
{% for post in site.categories.video limit:3  %}
        <a href="{{ post.url }}">{{ post.title }}</a>
{% endfor %}
      </div>
    </div>
  </div>
</div>
