---
layout: default
---


<div class="blog-posts">
  <div class="container">
    <div class="row">
      <div class="col-lg-9">

       <div class="post">
        <div class="video">
          <div class="iframe-wrapper">
            {% if page.youtube %}
            <iframe width="620" height="350" src="https://www.youtube.com/embed/{{page.youtube}}?showinfo=1" frameborder="0" allowfullscreen></iframe>
            {% endif %}
            {% if page.vimeo %}
            <iframe src="https://player.vimeo.com/video/{{ page.vimeo }}" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
            {% endif %}
          </div>
        </div>
        <div class="title">
          <a href="blogpost.html">{{ page.title }}</a>
        </div>
        {% assign author = site.people | where: 'name', page.author | first %}
        <div class="author">
          <img src="/images/people/{{ author.name | slugify }}.jpg" class="avatar" alt="author" onError="this.onerror=null;this.src='/images/people/blank.jpg';" />
          <a href="/{{ author.name | slugify }}">{{ page.author }}</a>, {{ page.date | date: "%B %d, %Y" }}
        </div>
        <div class="intro">{{ content }}</div>
      </div>
    </div>

    <div class="col-lg-3 sidebar">
      {% include podcast.html %}
      {% include recent-sermons.html %}
    </div>
  </div>
</div>
